.scrollbar-custom::-webkit-scrollbar-track {
  background: #004fec;
  border-radius: 8px;
}

/* Adicionar as definições que faltam */
.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #60a5fa;
  border-radius: 8px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #3b82f6;
}

.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #60a5fa #004fec;
}
